.header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    color: #F9FAF8
}

a {
    text-decoration: none;
    color: #F9FAF8
}

.welcome-content {
    display: flex;
    width: 400px;
    height: 300px;
}

.child-welcome-text, 
.right-links {
    font-size: 18px;
    color: #E5E7EB;
}

.main-welcome-text {
    font-weight: extra-bold;
    font-size: 48px;
    color: #F9FAF8;
}

button {
    padding: 5px;
    padding-left: 12px;
    padding-right: 12px;
}

.sign-up-button {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 4px;
    border-width: 0px;
}

.main-content {
    display: flex;
    justify-content: space-between;
    margin: 25px;
}

.main-content-image {
    height: 150px;
    width: 150px;
    background-color: white;
    border-color: #3882F6;
    border-width: 5px;
    border-radius: 3px;
}

.image-with-description {
    height: 300px;
    width: 200px;
}


.call-to-action-container {
    background-color: #3882F6;
    color: #F9FAF8;
}

.call-to-action-container p {
    color: #F9FAF8;
}

.call-to-action-container button {
    background-color: #3882F6;
    color: #F9FAF8;
    border-color: #F9FAF8;
    border-width: 2px;
} 





